<h1>
    Heroes
</h1>
<hr>
<div class="col-md-12 text-right mb-2 animated fadeIn fast">
    <button [routerLink]="['/heroe','nuevo']" type="button" class="btn btn-outline-dark">
      Agregar
    </button>
</div>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Casa</th>
                        <th scope="col" class="text-right">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let key of heroes | keys; let idx = index">
                        <th scope="row"> {{ idx + 1 }} </th>
                        <td> {{ heroes[key].nombre }} </td>
                        <td> {{ heroes[key].casa }} </td>
                        <td class="text-right">
                            <button [routerLink]="['/heroe',key]" type="button" class="btn btn-outline-dark">
                                Editar
                            </button>
                            <button (click)="borrarHeroe(key)" type="button" class="btn btn-outline-danger">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="( heroes | keys ).length == 0 && !loading" class="alert alert-info" role="alert">
                <strong>No hay heroes en nuestra base de datos ingresados</strong>
                <p>Si quiere agregar un heroe de clic en el boton Agregar</p>
            </div>

            <div *ngIf="loading" class="alert alert-warning" role="alert">
                <strong>Cargando... </strong>Por favor espere un momento.
            </div>

        </div>
    </div>
</div>