<h1>
    Heroe <small>nuevo...</small>
</h1>
<button [routerLink]="['heroes']" type="button" class="btn btn-outline-danger btn-sm animated fadeIn fast">
  Regresar
</button>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-12">

        <form (ngSubmit)="guardar()" #forma="ngForm" autocomplete="off">

            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input [(ngModel)]="heroe.nombre" type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese el nombre del Heroe" required>
            </div>

            <div class="form-group">
                <label for="casa">Casa:</label>
                <select [(ngModel)]="heroe.casa" class="form-control" name="casa" id="casa">
                <option value="Marvel">Marvel</option>
                <option value="DC">DC</option>
              </select>
            </div>

            <div class="form-group">
                <label for="bio">Bio:</label>
                <textarea [(ngModel)]="heroe.bio" class="form-control" name="bio" id="bio" rows="3"></textarea>
            </div>

            <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
              Guardar cambios
            </button>

        </form>

    </div>
</div>